* {
    box-sizing: border-box;
}

body {
    background-color: #bee4ff;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    /* padding: 20px;
    margin: 0; */
}

.container {
    background-color: whitesmoke;
    padding: 20px;
    margin: 0;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.4);
    text-align: center;
    /* max-width: 100%; */
    /* width: 800px; */
    /* max-height: 100%; */
    height: 500px;
}

.joke {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 50px;
    height: 30%;
    width: auto;
}

h1 {
  color: rgb(49, 153, 250);  
  /* text-shadow: 1px 3px 4px #000000; */
  font-size: 3rem;
}

.programming {
    background-color: #bee4ff;
    color: #1e83ca;
    border: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.pun {
    background-color: #bee4ff;
    color: #1e83ca;
    border: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.misc {
    background-color: #bee4ff;
    color: #1e83ca;
    border: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.dark {
    background-color: #bee4ff;
    color: #1e83ca;
    border: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.random {
    background-color: #bee4ff;
    color: #1e83ca;
    border: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.christmas {
    background-color: #bee4ff;
    color: #1e83ca;
    border: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}


.programming:active {
    transform: scale(0.95);
}

.programming:focus {
    outline: 0;
}
.random:active {
    transform: scale(0.95);
}

.random:focus {
    outline: 0;
}
.pun:active {
    transform: scale(0.95);
}

.pun:focus {
    outline: 0;
}
.christmas:active {
    transform: scale(0.95);
}

.christmas:focus {
    outline: 0;
}